---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>Site still under construction - pardon our dust!</h3>
			<p>
				It's a bleak time to be on the Internet. Social media megacorporations have enshittified themselves, 
				and work to exploit, manipulate, and spy on their users. Creators on these sites are subject to the 
				whims of a fickle, inscrutable algorithm, and have to spend hours engaged in useless platform 
				Kremlinology to avoid getting shadowbanned. Floods of AI bots steal any written work or art they can 
				find in order to mass produce cheap imitations. 
			</p>
			<p>
				We're here to stop that. Welcome to the to-be headquarters of Haven Social. <br>
				We're building a video-based social media, very similar to TikTok, but without the malice of today's 
				social media sites. Our platform will:
			</p>

			<ul>
				<li><strong>Protect users</strong> from invasive surveillance like PimEyes and Clearview.AI, the company that famously 
					scraped billions of pictures off of Facebook to use in a facial recognition surveillance system. </li>
				<br>
				<li><strong>Protect artists</strong> from having their art stolen by generative AI art models without copyright. Every 
					video and image uploaded to our platform is automatically "poisoned" against AI, with no effort 
					required from you. If an AI ingests the art to use as training material, the AI cannot learn 
					anything from it, or worse, learns <strong><em>wrong.</em></strong> This gives artists the power to enforce their creative 
					rights! If AI art companies respect the artist's wish to not have their art used to train AI, or 
					if they pay the artist for the unpoisoned version, they'll be fine. But if they use the art without 
					the artist's permission, the AI model ingests poison. We’re essentially setting landmines for the AI.
					</li>
				<br>
				<li><strong>Protect users</strong> from the severe censorship enforced by TikTok and other platforms. I feel <em>such</em> dread for the 
					future when I see words like “unalive”, “s3ggs”, and "Ta!wan". We give a place where people don’t have 
					to worry about being shadowbanned for talking about topics important to them.</li>
				<br>
				<li><strong>Promote healthy use of social media.</strong> Social media companies want you to doomscroll, and they want you to be 
					angry! It makes them more money! But I believe this is dangerous and self-destructive for society. They’re 
					making people pressured and scared and worsening everyone’s mental health to make cash. To prevent this, 
					we're building the best time limit functionality into Haven.
					<br>
					For the same reason, our algorithm will also promote good content over controversial content. On other 
					platforms, creators will intentionally post enraging, drama-stirring, exaggerated-strawman content because 
					any interaction, even negative interaction, counts as engagement, and more engagement means more algorithmic 
					boost. We prevent this by promoting videos based off the amount of positive engagement with the video, not 
					<em>total</em> engagement. Don’t feed the trolls.</li>
				<br>
				<li><strong>Provide a honest, transparent recommendation algorithm</strong>. Most platforms force their creators to be at the mercy of 
					a fickle, inscrutable, manipulative algorithm. You may already know from experience how this adds a lot more 
					stress and work! It’s frustrating to make good videos and have the algorithm basically shadowban them because 
					you tripped an invisible tripwire! We make our algorithm's inner workings very clear and well-explained, to 
					help creators develop a trusting relationship with us.</li>
				<br>
				<li><strong>Compensate</strong> our creators better than <strong>anywhere</strong> else, by giving users <strong>money</strong> 
					to directly donate to their favorite creators.</li>
				<br>
				<li><strong>Make it easy</strong> to protect all your videos and art at once. Moving lots of content from one site to another can be tedious, 
					so we'll move all your videos, art, and following list over for you!</li>
				<br>
			</ul>
			<p>
				Learn more about how today's social media megacorporations surveil, manipulate, and exploit their users by reading 
				<a href="https://docsend.com/v/pgw4q/web-thesis"
					>our CEO's thesis!
				</a>
			</p>
			<p>
				We’re going to protect people against the evil of Big Tech megacorporations and surveillance states, but we need your 
				support. If you can without financially stressing yourself, please consider donating to our Kickstarter: (link coming soon)
			</p>
		</main>
		<Footer />
	</body>
</html>
