---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Site still under construction - pardon our dust!</h1>
			<p>
				It's a bleak time to be online. Nearly all the major platforms are enshittified. The megacorp social medias are in bed with 
				both domestic and foreign governments, working to surveil, influence, and propagandize the public.
			</p>
			<p>
				We're here to stop that. Welcome to the to-be headquarters of Haven Social.  
			</p>

			<p>Our plan is to provide a short-form video based social media, very similar to TikTok, that:</p>
			<ul>
				<li>Protects people online from invasive surveillance like Clearview.AI, the company that famously scraped billions of pictures off of Facebook to use in a facial recognition surveillance system, and other facial recognition AI tools such as PimEyes.</li>
				<br>
				<li>Protects artists from having their art stolen and used by generative AI art models. Everything uploaded to our site is protected from AI tools by default, with no effort required by you.</li>
				<br>
				<li>Liberates users from the severe censorship enforced by TikTok and other platforms. I feel incredible despair and dread for the future when I see words like “unalive”, “s3ggs”, and "pew pew" used instead of "die", "sex", and "gun". We give a place where people can discuss important topics freely, without worrying about appeasing Big Brother's censors.</li>
				<br>
				<li>Provide a honest, transparent recommendation algorithm. Most platforms force their creators to be at the mercy of a fickle, inscrutable, manipulative algorithm. YouTubers and TikTokers already know from experience how this adds a lot more stress and work to making videos! It’s frustrating to make good videos and have the algorithm basically shadowban them because you tripped an invisible tripwire! We make it clear what our algorithm promotes, to help creators develop a trusting relationship with us.</li>
				<br>
				<li><strong>Compensate our creators better than anywhere else!</strong></li>
			</ul>
			<p>
				Learn more about how today's social media megacorporations surveil, influence, and exploit their users by reading <a href="https://docsend.com/v/pgw4q/haven-thesis"
					>our CEO's thesis!
				</a>
			</p>
			<p>
				Donate to our Kickstarter to help fund development: (link coming soon!) 
			</p>
		</main>
		<Footer />
	</body>
</html>
